<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.decucin.articleservice.dao.mapper.TagMapper">

    <select id="findTagsByArticleId" resultType="com.decucin.articleservice.dao.pojo.Tag">
        select id, tag_name from decucin_tag
        where id in(
            select tag_id from decucin_article_tag
            where article_id = ${id}
        )
    </select>
    <select id="findHotTagIds" resultType="java.lang.Long">
        select tag_id from decucin_article_tag group by tag_id order by count(tag_id) desc limit 6
    </select>


</mapper>